body{
    margin-top: 150px;
    text-align: center;
    background-image: url('img/bglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#login_area{
    padding-top: 50px;
    width: 30%;
    position: sticky;
    height: 260px;
    border-radius: 10px 10px 10px 10px;
}
h1{
    margin: 20px;
}
.username_input{
    margin: 15px;
}
.usernameinput{
    width: 250px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px;
}
#loginbtn{
    padding: 5px;
}
#loginbtn:hover{
    background-color: gray;
    color: white;
}